In [1]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4) (2.3.2.post1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install lxml

Requirement already satisfied: lxml in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (4.9.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd # library for data analysis
import requests # library to handle requests
from bs4 import BeautifulSoup # library to parse HTML documents
import re

## Web scraping

In [4]:
# get the response in the form of html
wikiurl="https://en.wikipedia.org/wiki/Statistics_of_the_COVID-19_pandemic_in_Indonesia#Cases_by_province_and_region"
table_class="wikitable sortable jquery-tablesorter"
response=requests.get(wikiurl)
print(response.status_code)

200

In [5]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(response.text, 'html.parser')
covidtable=soup.find('table',{'class':"wikitable"})

In [6]:
df_datacovid =pd.read_html(str(covidtable))
# convert list to dataframe
df_datacovid =pd.DataFrame(df_datacovid[0])
df_datacovid.head()

  COVID-19 cases in Indonesia[a][b]                                      \
                           Province   Cases Recoveries Deaths Active[c]
0                              Aceh   44842      42515   2263        64
1                              Bali  172387     167356   4866       165
2           Bangka Belitung Islands   67135      65405   1651        79
3                            Banten  364679     361040   2986       653
4                          Bengkulu   29838      29257    528        53

                                                                \
  Cases per 100,000  population[d] Recovery rate Fatality rate
0                              850           NaN           NaN
1                             3993           NaN           NaN
2                             4612           NaN           NaN
3                             3063           NaN           NaN
4                             1484           NaN           NaN


              Official website
0       covid19.acehprov.go.id
1    infocorona.baliprov.go.id
2      covid19.babelprov.go.id
3  infocorona.bantenprov.go.id
4   covid19.bengkuluprov.go.id

In [7]:
df_datacovid.to_csv('datacovid.csv', header=True, index=False)

## data cleaning

In [9]:
df = pd.read_csv('datacovid.csv')

In [10]:
df.columns

Index(['COVID-19 cases in Indonesia[a][b]',
       'COVID-19 cases in Indonesia[a][b].1',
       'COVID-19 cases in Indonesia[a][b].2',
       'COVID-19 cases in Indonesia[a][b].3',
       'COVID-19 cases in Indonesia[a][b].4',
       'COVID-19 cases in Indonesia[a][b].5',
       'COVID-19 cases in Indonesia[a][b].6',
       'COVID-19 cases in Indonesia[a][b].7',
       'COVID-19 cases in Indonesia[a][b].8'],
      dtype='object')

In [11]:
df.columns = ['province', 'cases', 'recoveries', 'deaths', 'active_case', 'cases_per_100,000_population', 'recovery_rate', 'fatality_rate', 'official_website']

In [12]:
df.columns

Index(['province', 'cases', 'recoveries', 'deaths', 'active_case',
       'cases_per_100,000_population', 'recovery_rate', 'fatality_rate',
       'official_website'],
      dtype='object')

In [13]:
df.head()

,province,cases,recoveries,deaths,active_case,"cases_per_100,000_population",recovery_rate,fatality_rate,official_website
0,Province,Cases,Recoveries,Deaths,Active[c],"Cases per 100,000 population[d]",Recovery rate,Fatality rate,Official website
1,Aceh,44842,42515,2263,64,850,NaN,NaN,covid19.acehprov.go.id
2,Bali,172387,167356,4866,165,3993,NaN,NaN,infocorona.baliprov.go.id
3,Bangka Belitung Islands,67135,65405,1651,79,4612,NaN,NaN,covid19.babelprov.go.id
4,Banten,364679,361040,2986,653,3063,NaN,NaN,infocorona.bantenprov.go.id

In [14]:
df = df.drop(index=0).reset_index(drop=True)

In [15]:
df.head()

,province,cases,recoveries,deaths,active_case,"cases_per_100,000_population",recovery_rate,fatality_rate,official_website
0,Aceh,44842,42515,2263,64,850,NaN,NaN,covid19.acehprov.go.id
1,Bali,172387,167356,4866,165,3993,NaN,NaN,infocorona.baliprov.go.id
2,Bangka Belitung Islands,67135,65405,1651,79,4612,NaN,NaN,covid19.babelprov.go.id
3,Banten,364679,361040,2986,653,3063,NaN,NaN,infocorona.bantenprov.go.id
4,Bengkulu,29838,29257,528,53,1484,NaN,NaN,covid19.bengkuluprov.go.id

In [16]:
df = df.drop(['recovery_rate','fatality_rate'], axis=1)

In [17]:
df.tail()

,province,cases,recoveries,deaths,active_case,"cases_per_100,000_population",official_website
31,West Papua,32972,32515,393,64,2907,dinkes.papuabaratprov.go.id
32,West Sulawesi,16038,15619,407,12,1130,dinkes.sulbarprov.go.id
33,West Sumatra,105635,103046,2420,169,1909,corona.sumbarprov.go.id
34,Total,6792173,6611770,161526,18877,2514,covid19.go.id
35,Data as of 25 December 2022[1] .mw-parser-outp...,Data as of 25 December 2022[1] .mw-parser-outp...,Data as of 25 December 2022[1] .mw-parser-outp...,Data as of 25 December 2022[1] .mw-parser-outp...,Data as of 25 December 2022[1] .mw-parser-outp...,Data as of 25 December 2022[1] .mw-parser-outp...,Data as of 25 December 2022[1] .mw-parser-outp...

In [18]:
df = df.drop(df.tail(2).index)

In [19]:
df.tail()

,province,cases,recoveries,deaths,active_case,"cases_per_100,000_population",official_website
29,West Kalimantan,67451,66178,1146,127,1246,covid19.kalbarprov.go.id
30,West Nusa Tenggara,37266,36271,933,62,700,corona.ntbprov.go.id
31,West Papua,32972,32515,393,64,2907,dinkes.papuabaratprov.go.id
32,West Sulawesi,16038,15619,407,12,1130,dinkes.sulbarprov.go.id
33,West Sumatra,105635,103046,2420,169,1909,corona.sumbarprov.go.id

## Add latitude and longitude to data set

### import latitude and longitude from json file

In [20]:
longlat = "https://raw.githubusercontent.com/Singa-dev/testing_dev/main/gps_data_sample.json"
df_longlat = pd.read_json(longlat)
df_longlat.to_csv('longlat_province_id.csv')

In [22]:
df_province_longlat = pd.read_csv('longlat_province_id.csv')
df_province_longlat.head()

,Unnamed: 0,Provinsi,latitude,longitude,logo
0,0,Aceh,4.695135,96.749399,https://upload.wikimedia.org/wikipedia/commons...
1,1,Bali,-8.409518,115.188916,https://4.bp.blogspot.com/-ELlrLdH0frM/WSz4Ajq...
2,2,Bangka Belitung,-2.741051,106.440587,https://upload.wikimedia.org/wikipedia/commons...
3,3,Banten,-6.405817,106.064018,https://upload.wikimedia.org/wikipedia/commons...
4,4,Bengkulu,-3.577847,102.346388,https://upload.wikimedia.org/wikipedia/commons...

In [23]:
df_province_longlat = df_province_longlat.drop('Unnamed: 0', axis = 1)

In [24]:
display(df_province_longlat['Provinsi'], df['province'])

0                   Aceh
1                   Bali
2        Bangka Belitung
3                 Banten
4               Bengkulu
5           Central Java
6     Central Kalimantan
7       Central Sulawesi
8              East Java
9        East Kalimantan
10    East Nusa Tenggara
11             Gorontalo
12               Jakarta
13                 Jambi
14               Lampung
15                Maluku
16          North Maluku
17      North Kalimantan
18        North Sulawesi
19        North Sumatera
20                 Papua
21                  Riau
22          Riau Islands
23      South Kalimantan
24        South Sulawesi
25    Southeast Sulawesi
26        South Sumatera
27             West Java
28       West Kalimantan
29    West Nusa Tenggara
30            West Papua
31         West Sulawesi
32          West Sumatra
33            Yogyakarta
Name: Provinsi, dtype: object

0                             Aceh
1                             Bali
2          Bangka Belitung Islands
3                           Banten
4                         Bengkulu
5                     Central Java
6               Central Kalimantan
7                 Central Sulawesi
8                        East Java
9                  East Kalimantan
10              East Nusa Tenggara
11                       Gorontalo
12                         Jakarta
13                           Jambi
14                         Lampung
15                          Maluku
16                North Kalimantan
17                    North Maluku
18                  North Sulawesi
19                   North Sumatra
20                           Papua
21                            Riau
22                    Riau Islands
23                South Kalimantan
24                  South Sulawesi
25                   South Sumatra
26              Southeast Sulawesi
27    Special Region of Yogyakarta
28                       West Java
29                 West Kalimantan
30              West Nusa Tenggara
31                      West Papua
32                   West Sulawesi
33                    West Sumatra
Name: province, dtype: object

In [25]:
df_province_longlat = df_province_longlat.reindex([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,26,25,33,27,28,29,30,31,32])
df_province_longlat = df_province_longlat.reset_index()

In [26]:
df_province_longlat['Provinsi']

0                   Aceh
1                   Bali
2        Bangka Belitung
3                 Banten
4               Bengkulu
5           Central Java
6     Central Kalimantan
7       Central Sulawesi
8              East Java
9        East Kalimantan
10    East Nusa Tenggara
11             Gorontalo
12               Jakarta
13                 Jambi
14               Lampung
15                Maluku
16          North Maluku
17      North Kalimantan
18        North Sulawesi
19        North Sumatera
20                 Papua
21                  Riau
22          Riau Islands
23      South Kalimantan
24        South Sulawesi
25        South Sumatera
26    Southeast Sulawesi
27            Yogyakarta
28             West Java
29       West Kalimantan
30    West Nusa Tenggara
31            West Papua
32         West Sulawesi
33          West Sumatra
Name: Provinsi, dtype: object

### Concatenate df and df_province_longlat

In [27]:
df_with_longlat = pd.concat([df, df_province_longlat], axis=1)

In [28]:
df_with_longlat.tail(10)

,province,cases,recoveries,deaths,active_case,"cases_per_100,000_population",official_website,index,Provinsi,latitude,longitude,logo
24,South Sulawesi,148491,145844,2571,76,1637,covid19.sulselprov.go.id,24,South Sulawesi,-3.668799,119.974053,https://upload.wikimedia.org/wikipedia/commons...
25,South Sumatra,85008,81398,3455,155,1004,corona.sumselprov.go.id,26,South Sumatera,-3.319437,103.914399,https://upload.wikimedia.org/wikipedia/commons...
26,Southeast Sulawesi,26556,25925,585,46,1012,dinkes.sultraprov.go.id,25,Southeast Sulawesi,-4.144910,122.174605,https://upload.wikimedia.org/wikipedia/commons...
27,Special Region of Yogyakarta,230005,223228,6072,705,6269,corona.jogjaprov.go.id,33,Yogyakarta,-7.875385,110.426209,https://upload.wikimedia.org/wikipedia/commons...
28,West Java,1231522,1205494,16090,9938,2551,pikobar.jabarprov.go.id,27,West Java,-7.090911,107.668887,https://3.bp.blogspot.com/-BRV8kAVyi4I/XDX3S86...
29,West Kalimantan,67451,66178,1146,127,1246,covid19.kalbarprov.go.id,28,West Kalimantan,-0.278781,111.475285,https://upload.wikimedia.org/wikipedia/commons...
30,West Nusa Tenggara,37266,36271,933,62,700,corona.ntbprov.go.id,29,West Nusa Tenggara,-8.652933,117.361648,https://upload.wikimedia.org/wikipedia/commons...
31,West Papua,32972,32515,393,64,2907,dinkes.papuabaratprov.go.id,30,West Papua,-1.336115,133.174716,https://upload.wikimedia.org/wikipedia/commons...
32,West Sulawesi,16038,15619,407,12,1130,dinkes.sulbarprov.go.id,31,West Sulawesi,-2.844137,119.232078,https://upload.wikimedia.org/wikipedia/commons...
33,West Sumatra,105635,103046,2420,169,1909,corona.sumbarprov.go.id,32,West Sumatra,-0.739940,100.800005,https://upload.wikimedia.org/wikipedia/commons...

In [29]:
df_with_longlat = df_with_longlat.drop(['index','Provinsi'], axis=1)

## Data Analisis and plotting to webgis

In [30]:
pip install folium

Collecting folium
  Downloading folium-0.14.0-py2.py3-none-any.whl (102 kB)
     -------------------------------------- 102.3/102.3 kB 1.2 MB/s eta 0:00:00
Collecting branca>=0.6.0 (from folium)
  Downloading branca-0.6.0-py3-none-any.whl (24 kB)
Requirement already satisfied: jinja2>=2.9 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from folium) (3.1.2)
Requirement already satisfied: numpy in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from folium) (1.23.4)
Requirement already satisfied: requests in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from folium) (2.28.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from jinja2>=2.9->folium) (2.1.2)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from requests->folium) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from requests->folium) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from requests->folium) (1.26.12)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from requests->folium) (2022.9.24)
Installing collected packages: branca, folium
Successfully installed branca-0.6.0 folium-0.14.0
Note: you may need to restart the kernel to use updated packages.

In [64]:
def popup_html(row):
    i = row
    province_logo = df_with_longlat['logo'].iloc[i] 
    Province_Name = df_with_longlat['province'].iloc[i] 
    Total_cases = df_with_longlat['cases'].iloc[i]
    Total_recoveries = df_with_longlat['recoveries'].iloc[i] 
    Total_deaths = df_with_longlat['deaths'].iloc[i]
    Active_case = df_with_longlat['active_case'].iloc[i]                     

    left_col_color = "#19a7bd"
    right_col_color = "#f2f0d3"
    red = "#FF0000"
    green = "#2BF61D"
    yellow = "#FCD01F"
    
    html = """<!DOCTYPE html>
<html>
<head>
<h4 style="margin-bottom:10"; width="200px">{}</h4>""".format(Province_Name) + """
</head>
    <table style="height: 126px; width: 350px;">
<tbody>
<td style="background-color: """+ left_col_color +""";"><span style="color: #ffffff;">Total Case</span></td>
<td style="width: 150px;background-color: """+ right_col_color +""";">{}</td>""".format(Total_cases) + """
</tr>
<tr>
<td style="background-color: """+ green +""";"><span style="color: #ffffff;">Total Recoveries</span></td>
<td style="width: 150px;background-color: """+ right_col_color +""";">{}</td>""".format(Total_recoveries) + """
</tr>
<tr>
<td style="background-color: """+ red +""";"><span style="color: #ffffff;">Total Deaths</span></td>
<td style="width: 150px;background-color: """+ right_col_color +""";">{}</td>""".format(Total_deaths) + """
</tr>
<tr>
<td style="background-color: """+ yellow +""";"><span style="color: #ffffff;">Active Case</span></td>
<td style="width: 150px;background-color: """+ right_col_color +""";">{}</td>""".format(Active_case) + """
</tr>
</tbody>
</table>
</html>
"""
    return html

In [65]:
#Import libraries
import folium
import branca

loc = 'INDONESIA COVID-19 DASHBOARD \n Date : 25 December 2022'
location = df_with_longlat.iloc[9]['latitude'], df_with_longlat.iloc[10]['longitude'] #Specify the center of the map by using the average of latitude and longitude coordinates
m = folium.Map(location=location,zoom_start=5) #Create a empty folium map object

title_html = '''
             <h3 align="Left" style="font-size:24px"><b>{}</b></h3>
             '''.format(loc) 

for i in range(0,len(df_with_longlat)):
      
    labels=df_with_longlat['province'].iloc[i] #Create a lable that is the name of province
    html = popup_html(i)
    iframe = branca.element.IFrame(html=html,width=510,height=280)
    popup = folium.Popup(folium.Html(html, script=True), max_width=500)
    folium.Marker([df_with_longlat.iloc[i]['latitude'], df_with_longlat.iloc[i]['longitude']],
                  popup=popup,
                  ).add_to(m)

m.get_root().html.add_child(folium.Element(title_html))

m.save("covidmap.html")